---
import type { NotFoundPage } from "@/interface";
import Base from "@/layouts/Base.astro";
import { fetchContentType } from "@/lib/strapi";
import { markdownify } from "@/lib/utils/textConverter";

const { title, richText } = await fetchContentType<NotFoundPage>(
  "notfound",
  {
    populate: "*",
  },
  true
);
---

<Base title={title}>
  <section class="section">
    <div class="container">
      <div class="flex h-[40vh] items-center justify-center">
        <div class="text-center">
          <h1 class="mb-4" set:html={markdownify(title)} />
          <div set:html={richText} />
        </div>
      </div>
    </div>
  </section>
</Base>
