---
import type { Post as PostType } from "@/interface";
import { getImageInfo } from "@/lib/getImageInfo";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { marked } from "marked";

interface Props {
  post: PostType;
}

const { post } = Astro.props;
const { title, image, richText } = post;
const { url } = getImageInfo(image) || {};
const content = marked.parse(richText);
---

<section class="section">
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 md:col-8">
        <article class="text-center">
          {
            image && (
              <Image
                src={url!}
                height={500}
                width={1000}
                alt={title}
                class="rounded-lg"
              />
            )
          }

          <h1 set:html={markdownify(title)} class="h2 text-left my-6" />
          <div class="content mb-16 text-left" set:html={content} />
        </article>
      </div>
    </div>
  </div>
</section>
